In [2]:
import lightgbm as lgb
import matplotlib.font_manager as fm
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import log_loss, mean_squared_error, roc_auc_score
from sklearn.model_selection import KFold, train_test_split
from sklearn.metrics import roc_curve,auc
from sklearn.neighbors import NearestNeighbors

In [3]:
%matplotlib inline
# その他設定
pd.set_option('display.max_columns', 100)
plt.style.use('seaborn-darkgrid')
# font = fm.FontProperties(fname='./TakaoPGothic.ttf')

dataset_url = 'https://raw.githubusercontent.com/iwanami-datascience/vol3/master/kato%26hoshino/q_data_x.csv'  
df = pd.read_csv(dataset_url)  
print(df.shape)

(10000, 35)

(10000, 35)

(10000, 35)

In [4]:
df

,cm_dummy,gamedummy,area_kanto,area_keihan,area_tokai,area_keihanshin,age,sex,marry_dummy,job_dummy1,job_dummy2,job_dummy3,job_dummy4,job_dummy5,job_dummy6,job_dummy7,job_dummy8,inc,pmoney,fam_str_dummy1,fam_str_dummy2,fam_str_dummy3,fam_str_dummy4,fam_str_dummy5,child_dummy,T,F1,F2,F3,M1,M2,M3,TVwatch_day,gamesecond,gamecount
0,0,0,0,0,0,1,44.5,1,1,1,0,0,0,0,0,0,0,249.5,0.0,0,0,1,0,0,1,0,0,0,0,0,1,0,33.427600,0,0
1,0,0,0,1,0,0,34.5,1,1,1,0,0,0,0,0,0,0,800.0,12.5,0,0,1,0,0,1,0,0,0,0,0,1,0,31.542862,0,0
2,0,0,0,1,0,0,24.5,1,0,0,0,0,0,0,0,1,0,0.0,2.0,0,0,0,1,0,0,0,0,0,0,1,0,0,37.825805,0,0
3,0,0,0,1,0,0,44.5,1,1,1,0,0,0,0,0,0,0,800.0,2.0,0,0,1,0,0,1,0,0,0,0,0,1,0,36.345911,0,0
4,0,0,0,1,0,0,34.5,1,1,1,0,0,0,0,0,0,0,749.5,4.0,0,0,1,0,0,1,0,0,0,0,1,0,0,49.344942,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,1,0,0,1,0,24.5,1,0,0,0,0,0,0,0,1,0,0.0,2.0,0,0,1,0,0,1,0,0,0,0,1,0,0,1172.051927,97226,764
9996,0,1,0,0,1,0,24.5,1,0,0,0,0,0,0,0,1,0,0.0,2.0,0,0,1,0,0,1,0,0,0,0,1,0,0,1173.538256,97224,764
9997,0,1,0,0,1,0,24.5,1,0,0,0,0,0,0,0,1,0,0.0,2.0,0,0,1,0,0,1,0,0,0,0,1,0,0,1173.073186,97227,764
9998,0,1,0,0,1,0,24.5,1,0,0,0,0,0,0,0,1,0,0.0,2.0,0,0,1,0,0,1,0,0,0,0,1,0,0,1173.016481,97225,765
9999,0,1,0,0,1,0,24.5,1,0,0,0,0,0,0,0,1,0,0.0,2.0,0,0,1,0,0,1,0,0,0,0,1,0,0,1172.514651,97225,765

In [6]:
col_lst = df.columns

check_null = df.isnull().any().values.tolist()
check_null = [[col_lst[i],check_null[i]] for i in range(len(col_lst))]
check_null

[['cm_dummy', False],
 ['gamedummy', False],
 ['area_kanto', False],
 ['area_keihan', False],
 ['area_tokai', False],
 ['area_keihanshin', False],
 ['age', False],
 ['sex', False],
 ['marry_dummy', False],
 ['job_dummy1', False],
 ['job_dummy2', False],
 ['job_dummy3', False],
 ['job_dummy4', False],
 ['job_dummy5', False],
 ['job_dummy6', False],
 ['job_dummy7', False],
 ['job_dummy8', False],
 ['inc', False],
 ['pmoney', False],
 ['fam_str_dummy1', False],
 ['fam_str_dummy2', False],
 ['fam_str_dummy3', False],
 ['fam_str_dummy4', False],
 ['fam_str_dummy5', False],
 ['child_dummy', False],
 ['T', False],
 ['F1', False],
 ['F2', False],
 ['F3', False],
 ['M1', False],
 ['M2', False],
 ['M3', False],
 ['TVwatch_day', False],
 ['gamesecond', False],
 ['gamecount', False]]

In [ ]:
n = 9
# print(df[col_lst[n]].describe())
print(df["shares"].describe())