### 等分散検定

In [7]:
#2群間の等分散性の検定

import numpy as np
from scipy import stats

#A = np.array([6.3, 8.1, 9.4, 10.4, 8.6, 10.5, 10.2, 10.5, 10.0, 8.8])
#B = np.array([4.8, 2.1, 5.1, 2.0, 4.0, 1.0, 3.4, 2.7, 5.1, 1.4, 1.6])

A_var = np.var(A, ddof=1)  # Aの不偏分散
B_var = np.var(B, ddof=1)  # Bの不偏分散
A_df = len(A) - 1  # Aの自由度
B_df = len(B) - 1  # Bの自由度
f = A_var / B_var  # F比の値
one_sided_pval1 = stats.f.cdf(f, A_df, B_df)  # 片側検定のp値 1
one_sided_pval2 = stats.f.sf(f, A_df, B_df)   # 片側検定のp値 2
two_sided_pval = min(one_sided_pval1, one_sided_pval2) * 2  # 両側検定のp値

print('F:       ', round(f, 3))
print('p-value: ', round(two_sided_pval, 3))

F:        0.779
p-value:  0.718

### 平均の差の検定

In [6]:
# studentのt検定
# 2群間の平均値の差を比較する検定
# 2群間の平均値が独立であり(データに対応がない)、2群間に等分散性が仮定できる場合に用いる

import numpy as np
from scipy import stats

#A = np.array([6.3, 8.1, 9.4, 10.4, 8.6, 10.5, 10.2, 10.5, 10.0, 8.8])
#B = np.array([4.8, 2.1, 5.1, 2.0, 4.0, 1.0, 3.4, 2.7, 5.1, 1.4, 1.6])

result = stats.ttest_ind(A, B)

print(f"t-stats:{result[0]}")
print(f"p-value:{result[1]}")

t-stats:9.851086859836649
p-value:6.698194360479442e-09

In [8]:
# Welch(ウェルチ)のt検定
# 2群間の平均値の差を比較する検定
# 2群間の平均値が独立であり(データに対応がない)、2群間に等分散性が仮定できない場合に用いる

import numpy as np
from scipy import stats

# A = np.array([13.8, 10.2, 4.6, 10.0, 4.2, 16.1, 14.4, 4.9, 7.7, 11.4])
# B = np.array([3.3, 2.6, 4.0, 4.7, 1.9, 2.9, 4.7, 5.3, 4.3, 3.0, 2.0])

result = stats.ttest_ind(A, B, equal_var=False)

print(f"t-stats:{result[0]}")
print(f"p-value:{result[1]}")

t-stats:4.426442804187721
p-value:0.0012285738375064346

In [9]:
# Mann-Whitney(マンホイットニー)のU検定
# (Wilcoxon(ウィルコクソン)の順位和検定)
# 2群間の平均値が独立であり(データに対応がない)、正規分布が仮定できない(ノンパラメトリック)場合に用いる
# 順序尺度に対応
# 独立2群間の代表値の差の検定
# 各群のサンプル数は一致しなくてよい

import numpy as np
from scipy import stats

A = np.array([1.83, 1.50, 1.62, 2.48, 1.68, 1.88, 1.55, 3.06, 1.30, 2.01, 3.11])
B = np.array([0.88, 0.65, 0.60, 1.05, 1.06, 1.29, 1.06, 2.14, 1.29])


result = stats.mannwhitneyu(A, B, alternative='two-sided')

print(f"t-stats:{result[0]}")
print(f"p-value:{result[1]}")

t-stats:91.0
p-value:0.0018253610099931035

### 割合の差　検定

In [ ]:
# フィッシャーの正確性検定

In [13]:
# z検定
from scipy import stats

def z_stats(p1, n1, p2, n2):
    p_all = ( (n1*p1) + (n2*p2) ) / (n1+n2)
    z_scores = abs(p1-p2) / np.sqrt(p_all*(1-p_all)*(1/n1 + 1/n2))
    p_values = stats.norm.sf(abs(z_scores))*2 #twosided
    # p_values = stats.norm.sf(abs(z_scores)) #one-sided

    return z_scores, p_values

z_score, p_value = z_stats(0.2,5000,0.18,3000)

print(f"z_score:{z_score}")
print(f"p-value:{p_value}")

z_score:2.196564696466586
p-value:0.028051549880530297

In [19]:
# カイ二乗検定
import pandas as pd
from scipy import stats

df_cross = pd.DataFrame([[372,49],[501,78]], 
                  index=['A', 'B'],
                  columns=['no', 'cv']
                  )

X2_stats, p_value, dof, ef =  stats.chi2_contingency(df_cross, correction=False)

print(df_cross, "\n")
print(f"X2_stats:{X2_stats}")
print(f"p-value:{p_value}")

    no  cv
A  372  49
B  501  78

X2_stats:0.7383347016905837
p-value:0.39019485527762676

### 重回帰分析

In [ ]:
#　回帰
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

x_input = df_arrange.loc[:, "n_tokens_title":"abs_title_sentiment_polarity"]
y = df_arrange[["target"]]

x_add_const = sm.add_constant(x_input)
model_sm = sm.OLS(y, x_add_const).fit()
print(model_sm.summary())

### ロジスティック回帰分析

In [10]:
import pandas as pd
pd.set_option('display.max_columns', 200)
data  = pd.read_csv("C:/Users/kyotn/workspace/その他/当日/output/data_trans.csv")

In [31]:
df_corr = data.corr()
df_corr.to_clipboard()

In [28]:
data
df_corr = data.corr()
print(df_corr)

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Female,Gender_Male,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y
0,41,1,2,1,1,2,2343,3,2,4,412368,8,11,3,1,0,8,0,1,6,4,0,5,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1
1,49,8,1,1,2,3,2418,2,2,2,362700,1,23,4,4,1,10,3,3,10,7,1,7,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1
2,37,2,2,1,4,4,1795,2,1,3,285405,6,15,3,2,0,7,3,3,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1
3,33,3,4,1,5,4,1805,3,1,3,247285,1,11,3,3,0,8,3,3,8,7,3,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,1
4,27,2,1,1,7,1,1805,3,1,2,272555,9,12,3,4,1,6,3,3,2,2,2,2,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,23,2,1,2061,3,2418,4,2,4,360282,4,17,3,3,1,17,3,3,5,2,0,3,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1
1466,39,6,1,1,2062,4,3232,2,3,1,471872,4,15,3,1,1,9,5,3,7,7,1,7,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,1
1467,27,4,3,1,2064,2,2425,4,2,2,337075,1,20,4,2,1,6,0,3,6,2,0,3,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1
1468,49,2,3,1,2065,4,2396,2,2,2,436072,2,14,3,4,0,17,3,2,9,6,0,8,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1
1469,34,8,3,1,2068,2,2398,4,2,3,448426,2,12,3,1,0,6,3,4,4,3,1,2,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1

In [ ]:
test = data[:["JobSatisfaction", "Attrition_Yes"]]

In [13]:
data_in = data.drop(["Attrition_No", "BusinessTravel_Non-Travel", 
                  "Department_Human Resources", "EducationField_Human Resources",
                  "Gender_Female", "JobRole_Healthcare Representative", "MaritalStatus_Divorced",
                  "Over18_Y", "Attrition_Yes","EmployeeCount", "EmployeeNumber"], axis=1)

target = data["Attrition_Yes"]

In [15]:
target

0       1
1       0
2       1
3       0
4       0
       ..
1465    0
1466    0
1467    0
1468    0
1469    0
Name: Attrition_Yes, Length: 1470, dtype: int64

In [25]:
#use sm.Logit

import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

# Load the data from Spector and Mazzeo (1980)
# spector_data = sm.datasets.spector.load()
# spector_data.exog = sm.add_constant(spector_data.exog)

# Follow statsmodles ipython notebook

x = data_in.loc[:,:]
y = data[["Attrition_Yes"]]
x_add_const = sm.add_constant(x)

logit_mod = sm.Logit(y, x_add_const)
logit_res = logit_mod.fit(disp=0)

print('Parameters: ', logit_res.params)
print(logit_res.summary())

# resid1 = logit_res.resid_dev   # for Logit model 残差

Parameters:  const                               -17.759230
Age                                  -0.028280
DistanceFromHome                      0.035271
Education                             0.015104
EnvironmentSatisfaction              -0.335121
HourlyRate                           -0.003321
JobInvolvement                       -0.479281
JobLevel                              0.482451
JobSatisfaction                      -0.356893
MonthlyRate                           0.000016
NumCompaniesWorked                    0.149275
PercentSalaryHike                    -0.030445
PerformanceRating                     0.318329
RelationshipSatisfaction             -0.144993
StockOptionLevel                     -0.173391
TotalWorkingYears                    -0.042391
TrainingTimesLastYear                -0.225378
WorkLifeBalance                      -0.322913
YearsAtCompany                        0.082918
YearsInCurrentRole                   -0.143855
YearsSinceLastPromotion               0.169205
YearsWithCurrManager                 -0.144456
BusinessTravel_Travel_Frequently      1.850133
BusinessTravel_Travel_Rarely          1.049746
Department_Research & Development    20.241688
Department_Sales                     20.213919
EducationField_Life Sciences         -0.602941
EducationField_Marketing             -0.203518
EducationField_Medical               -0.705158
EducationField_Other                 -0.640802
EducationField_Technical Degree       0.175550
Gender_Male                           0.194325
JobRole_Human Resources              21.551552
JobRole_Laboratory Technician         1.612079
JobRole_Manager                       0.733941
JobRole_Manufacturing Director        0.326165
JobRole_Research Director            -0.323036
JobRole_Research Scientist            1.069829
JobRole_Sales Executive               1.025608
JobRole_Sales Representative          2.157896
MaritalStatus_Married                 0.172502
MaritalStatus_Single                  0.956306
dtype: float64
                           Logit Regression Results
==============================================================================
Dep. Variable:          Attrition_Yes   No. Observations:                 1470
Model:                          Logit   Df Residuals:                     1428
Method:                           MLE   Df Model:                           41
Date:                Sat, 31 Jul 2021   Pseudo R-squ.:                  0.2655
Time:                        14:11:48   Log-Likelihood:                -476.93
converged:                      False   LL-Null:                       -649.29
Covariance Type:            nonrobust   LLR p-value:                 1.188e-49
=====================================================================================================
                                        coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                               -17.7592   2.69e+04     -0.001      0.999   -5.28e+04    5.27e+04
Age                                  -0.0283      0.013     -2.190      0.029      -0.054      -0.003
DistanceFromHome                      0.0353      0.010      3.538      0.000       0.016       0.055
Education                             0.0151      0.084      0.180      0.857      -0.150       0.180
EnvironmentSatisfaction              -0.3351      0.077     -4.347      0.000      -0.486      -0.184
HourlyRate                           -0.0033      0.001     -3.648      0.000      -0.005      -0.002
JobInvolvement                       -0.4793      0.117     -4.104      0.000      -0.708      -0.250
JobLevel                              0.4825      0.612      0.788      0.431      -0.717       1.682
JobSatisfaction                      -0.3569      0.076     -4.689      0.000      -0.506      -0.208
MonthlyRate                        1.556e-05   3.55e-06      4.379      0.000     8.6e-06    2.25e-05
NumCompaniesWorked                    0.1493      0.036      4.113      0.000       0.078       0.220
PercentSalaryHike                    -0.0304      0.037     -0.823      0.411      -0.103       0.042
PerformanceRating                     0.3183      0.372      0.855      0.392      -0.411       1.048
RelationshipSatisfaction             -0.1450      0.077     -1.888      0.059      -0.295       0.006
StockOptionLevel                     -0.1734      0.151     -1.152      0.250      -0.469       0.122
TotalWorkingYears                    -0.0424      0.028     -1.517      0.129      -0.097       0.012
TrainingTimesLastYear                -0.2254      0.069     -3.261      0.001      -0.361      -0.090
WorkLifeBalance                      -0.3229      0.115     -2.808      0.005      -0.548      -0.098
YearsAtCompany                        0.0829      0.038      2.171      0.030       0.008       0.158
YearsInCurrentRole                   -0.1439      0.044     -3.272      0.001      -0.230      -0.058
YearsSinceLastPromotion               0.1692      0.040      4.217      0.000       0.091       0.248
YearsWithCurrManager                 -0.1445      0.045     -3.177      0.001      -0.234      -0.055
BusinessTravel_Travel_Frequently      1.8501      0.387      4.777      0.000       1.091       2.609
BusinessTravel_Travel_Rarely          1.0497      0.357      2.938      0.003       0.349       1.750
Department_Research & Development    20.2417   2.69e+04      0.001      0.999   -5.27e+04    5.28e+04
Department_Sales                     20.2139   2.69e+04      0.001      0.999   -5.27e+04    5.28e+04
EducationField_Life Sciences         -0.6029      0.790     -0.763      0.446      -2.152       0.946
EducationField_Marketing             -0.2035      0.833     -0.244      0.807      -1.837       1.430
EducationField_Medical               -0.7052      0.790     -0.892      0.372      -2.254       0.844
EducationField_Other                 -0.6408      0.850     -0.754      0.451      -2.307       1.025
EducationField_Technical Degree       0.1756      0.810      0.217      0.829      -1.413       1.764
Gender_Male                           0.1943      0.173      1.123      0.261      -0.145       0.533
JobRole_Human Resources              21.5516   2.69e+04      0.001      0.999   -5.27e+04    5.28e+04
JobRole_Laboratory Technician         1.6121      0.463      3.481      0.000       0.704       2.520
JobRole_Manager                       0.7339      0.828      0.886      0.376      -0.890       2.358
JobRole_Manufacturing Director        0.3262      0.521      0.626      0.531      -0.695       1.348
JobRole_Research Director            -0.3230      0.917     -0.352      0.725      -2.120       1.474
JobRole_Research Scientist            1.0698      0.471      2.271      0.023       0.146       1.993
JobRole_Sales Executive               1.0256      1.095      0.936      0.349      -1.121       3.172
JobRole_Sales Representative          2.1579      1.142      1.889      0.059      -0.081       4.396
MaritalStatus_Married                 0.1725      0.256      0.675      0.500      -0.329       0.674
MaritalStatus_Single                  0.9563      0.331      2.892      0.004       0.308       1.604
=====================================================================================================

C:\Users\kyotn\Anaconda3\envs\data-science\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [27]:
import math

a = math.e**0.9563
a

2.6020510515058155

,Age,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Research & Development,Department_Sales,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Male,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single
0,41,1,2,2,2343,3,2,4,412368,8,11,3,1,0,8,0,1,6,4,0,5,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
1,49,8,1,3,2418,2,2,2,362700,1,23,4,4,1,10,3,3,10,7,1,7,1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0
2,37,2,2,4,1795,2,1,3,285405,6,15,3,2,0,7,3,3,0,0,0,0,0,1,1,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1
3,33,3,4,4,1805,3,1,3,247285,1,11,3,3,0,8,3,3,8,7,3,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
4,27,2,1,1,1805,3,1,2,272555,9,12,3,4,1,6,3,3,2,2,2,2,0,1,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,23,2,3,2418,4,2,4,360282,4,17,3,3,1,17,3,3,5,2,0,3,1,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0
1466,39,6,1,4,3232,2,3,1,471872,4,15,3,1,1,9,5,3,7,7,1,7,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0
1467,27,4,3,2,2425,4,2,2,337075,1,20,4,2,1,6,0,3,6,2,0,3,0,1,1,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0
1468,49,2,3,4,2396,2,2,2,436072,2,14,3,4,0,17,3,2,9,6,0,8,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
1469,34,8,3,2,2398,4,2,3,448426,2,12,3,1,0,6,3,4,4,3,1,2,0,1,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0

In [21]:
#use sm.Logit

import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

# Load the data from Spector and Mazzeo (1980)
spector_data = sm.datasets.spector.load()
spector_data.exog = sm.add_constant(spector_data.exog)

# Follow statsmodles ipython notebook
logit_mod = sm.Logit(spector_data.endog, spector_data.exog)
logit_res = logit_mod.fit(disp=0)

print('Parameters: ', logit_res.params)
print(logit_res.summary())

# resid1 = logit_res.resid_dev   # for Logit model 残差

Parameters:  [-13.02134686   2.82611259   0.09515766   2.37868766]
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   32
Model:                          Logit   Df Residuals:                       28
Method:                           MLE   Df Model:                            3
Date:                Wed, 28 Jul 2021   Pseudo R-squ.:                  0.3740
Time:                        23:00:19   Log-Likelihood:                -12.890
converged:                       True   LL-Null:                       -20.592
Covariance Type:            nonrobust   LLR p-value:                  0.001502
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -13.0213      4.931     -2.641      0.008     -22.687      -3.356
x1             2.8261      1.263      2.238      0.025       0.351       5.301
x2             0.0952      0.142      0.672      0.501      -0.182       0.373
x3             2.3787      1.065      2.234      0.025       0.292       4.465
==============================================================================

In [22]:
#use GLM

# logit_mod = sm.Logit(spector_data.endog, spector_data.exog)
glm_model = sm.GLM(spector_data.endog, spector_data.exog, family=sm.families.Binomial())
# logit_res = logit_mod.fit(disp=0)
glm_reslt = glm_model.fit()

# print logit_res.summary()
print(glm_reslt.summary())

# resid2 = glm_reslt.resid_deviance   # for GLM model 残差

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   32
Model:                            GLM   Df Residuals:                       28
Model Family:                Binomial   Df Model:                            3
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -12.890
Date:                Wed, 28 Jul 2021   Deviance:                       25.779
Time:                        23:04:20   Pearson chi2:                     27.3
No. Iterations:                     5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -13.0213      4.931     -2.641      0.008     -22.686      -3.356
x1             2.8261      1.263      2.238      0.025       0.351       5.301
x2             0.0952      0.142      0.672      0.501      -0.182       0.373
x3             2.3787      1.065      2.234      0.025       0.292       4.465
==============================================================================

In [ ]:
#AUC

from sklearn import metrics
import matplotlib.pyplot as plt
import numpy as np

# titanic['predict'] = res.predict()  #予測をpredict列に保管
# titanic.plot.scatter(x='predict',y='Survived'); # 散布図に描画

# FPR, TPR(, しきい値) を算出
fpr, tpr, thresholds = metrics.roc_curve(test_y, predict_y)

# ついでにAUCも
auc = metrics.auc(fpr, tpr)

# ROC曲線をプロット
plt.plot(fpr, tpr, label='ROC curve (area = %.2f)'%auc)
plt.legend()
plt.title('ROC curve')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.grid(True)