In [2]:
import pandas as pd
from pandas import DataFrame as DF

### CSV読み込み

In [5]:
df = pd.read_csv("input\OnlineNewsPopularity.csv") #header=None, index_col=0
df.head()

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,http://mashable.com/2013/01/07/amazon-instant-...,731,12,219,0.663594,1.0,0.815385,4,2,1,...,0.100000,0.7,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593
1,http://mashable.com/2013/01/07/ap-samsung-spon...,731,9,255,0.604743,1.0,0.791946,3,1,1,...,0.033333,0.7,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711
2,http://mashable.com/2013/01/07/apple-40-billio...,731,9,211,0.575130,1.0,0.663866,3,1,1,...,0.100000,1.0,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500
3,http://mashable.com/2013/01/07/astronaut-notre...,731,9,531,0.503788,1.0,0.665635,9,0,1,...,0.136364,0.8,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200
4,http://mashable.com/2013/01/07/att-u-verse-apps/,731,13,1072,0.415646,1.0,0.540890,19,19,20,...,0.033333,1.0,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505

### クリップボードの読み込み

In [ ]:
df = pd.read_clipboard() #header=None, index_col=0

### csvエクスポート

In [ ]:
df.to_csv("path/file_name.csv") #encoding="utf-8"

### クリップボードにコピー

In [ ]:
df.to_clipboard()

### 列統計量参照

In [23]:
tokens = df["n_tokens_content"]
tokens.describe()

count    39644.000000
mean       546.514731
std        471.107508
min          0.000000
25%        246.000000
50%        409.000000
75%        716.000000
max       8474.000000
Name: n_tokens_content, dtype: float64

### ビニング処理

In [ ]:
tokens = df["n_tokens_content"]
tokens.describe()

In [ ]:
# 最大値と最小値の間を等間隔で分割
# 第二引数binsに整数値を指定すると分割数（ビン数）の指定になる。最大値と最小値の間を等間隔で分割する。
tokens_cut = pd.cut(tokens, 10)
# 引数labelsでラベルを指定できる。デフォルトはlabels=Noneで、これまでの例の通り(a, b]。
# labels=Falseとすると整数値のインデックス（0始まりの連番）になる。
# tokens_cut = pd.cut(tokens, 4, labels=False)


# 境界値を指定して分割
# 第二引数binsにリストを指定すると、リストの要素を境界値として分割される。範囲外の値はNaNとなる。
tokens_cut = pd.cut(tokens, [0, 10, 50, 100])


print(tokens_cut)

In [45]:
# ビンに含まれる個数（要素数）をカウント: value_counts()
cut, bins = pd.cut(tokens, 100, retbins=True)
bins = [int(num) for num in bins][1:]  #値を整数化、binsの最小値は境界ではないので削除

counts = pd.cut(tokens, 100, labels=bins).value_counts() #カウント

cts_lst = counts.values.tolist() #カウントのリスト化

cts_df = DF(list(zip(bins,cts_lst)),
            columns=["bins", "counts"]
            )                                   #カウントとビンのリストからDFを作成


cts_df

    bins  counts
0     84    5669
1    169    5511
2    254    4342
3    338    3432
4    423    3380
..   ...     ...
95  8135       0
96  8219       0
97  8304       0
98  8389       0
99  8474       0

[100 rows x 2 columns]

### ピボットテーブル

In [ ]:
omsa2 = omsa2[omsa2["区分"] != 20]

for code in cl:

    df_temp = omsa2[omsa2["商品コード_x"] == code]

    pt_temp = pd.pivot_table(df_temp, index=df_temp["受注日付"].dt.year, columns=df_temp["受注日付"].dt.month,
                             values="社内工数合計", aggfunc=np.sum)
    
    pt_temp.to_csv(f"チームワーク用データ1/製品別PT/工数/{code}.csv")

### クロス集計

In [ ]:
cross = pd.crosstab(df2["channel"], df2["daily"])
cross["sum_ind"] = cross.sum(axis=1).tolist()
cross.loc["sum_col"] = cross.sum(axis=0).tolist()
cross

### 外部結合

In [ ]:
df_c = pd.merge(df_a, df_b, on="col_name") # on←カラム名で結合キー指定

### groupbyでカウント

### データフレーム条件抽出

In [ ]:
# あるリストに含まれる要素を持つサンプルのみを抽出
df_ex = df[df["n_tokens_title"].isin([2,3,4])]

# あるリストに含まれない要素を持つサンプルのみを抽出
df_ex = df[~df["n_tokens_title"].isin([2,3,4])]

df_ex

### 複数のカテゴリカルダミーを1つのカテゴリ変数にまとめる

In [ ]:
def back_ctgry(_df, ctgry_list, new_col_name):
    _df[new_col_name] = [j
                         for i in range(len(_df))
                         for j in ctgry_list
                         if _df.loc[i,j]==1]
    return _df

In [ ]:
cat1 = df_in.loc[:,"data_channel_is_tech":"data_channel_is_other"].columns.tolist()
# cat2 = df_in.loc[:,"data_channel_is_tech":"data_channel_is_other"].columns.tolist()

df1 = back_ctgry(df_in, cat1, "channel")
df1

### 次のトピック